@model List<LiftOffProject.Models.Quiz>

<h1>Quizzes</h1>

<p>
    <a asp-controller="Quizzes" asp-action="Add">Add Quiz</a>
</p>

@if (Model.Count == 0)
{
    <p>No quizzes available</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Published
            </th>
            <th>
                Edit Quiz
            </th>
        </tr>
        @foreach (var qz in Model)
        {
            <tr>
                <td>@qz.Id</td>
                <td>@qz.Title</td>
                <td>@qz.Author</td>
                <td>@qz.Published</td>
                <td><a asp-controller="Quizzes" asp-action="Quiz" asp-route-id="@qz.Id">Edit</a></td>
            </tr>
        }
    </table>
}